<div class="product-icons">
  <div class="picon">
    <svg
      class="icon--testament-returns "
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      height="18px"
      viewBox="0 0 15 20"
      xml:space="preserve"
    >
      <g class="hover-fill" fill="">
        <path d="M7.27272727,4.54545455 L7.27272727,7.27272727 L10.9090909,3.63636364 L7.27272727,0 L7.27272727,2.72727273 C3.25454545,2.72727273 0,5.98181818 0,10 C0,11.4272727 0.418181818,12.7545455 1.12727273,13.8727273 L2.45454545,12.5454545 C2.04545455,11.7909091 1.81818182,10.9181818 1.81818182,10 C1.81818182,6.99090909 4.26363636,4.54545455 7.27272727,4.54545455 Z M13.4181818,6.12727273 L12.0909091,7.45454545 C12.4909091,8.21818182 12.7272727,9.08181818 12.7272727,10 C12.7272727,13.0090909 10.2818182,15.4545455 7.27272727,15.4545455 L7.27272727,12.7272727 L3.63636364,16.3636364 L7.27272727,20 L7.27272727,17.2727273 C11.2909091,17.2727273 14.5454545,14.0181818 14.5454545,10 C14.5454545,8.57272727 14.1272727,7.24545455 13.4181818,6.12727273 L13.4181818,6.12727273 Z"></path>
      </g>
      <style>.product-text__block-icon .icon--testament-returns:hover .hover-fill { fill: ;}</style>
    </svg>
    <span class="ptext">Free Returns</span>
  </div>
  <div class="picon">
    <svg
      class="icon--testament-sanitize "
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      height="18px"
      viewBox="0 0 19 21"
      xml:space="preserve"
    >
          <g class="hover-fill" fill="">
            <path d="M11.5000001,4.5 C11.5000001,3.66000001 13.0000001,2 13.0000001,2 C13.0000001,2 14.5000001,3.66000001 14.5000001,4.5 C14.5000001,5.33 13.83,6 13.0000001,6 C12.1700001,6 11.5000001,5.33 11.5000001,4.5 Z M15.5000001,13 C16.8800001,13 18.0000001,11.8800001 18.0000001,10.5 C18.0000001,8.83000002 15.5000001,6.00000001 15.5000001,6.00000001 C15.5000001,6.00000001 13.0000001,8.83000002 13.0000001,10.5 C13.0000001,11.8800001 14.1200001,13 15.5000001,13 Z M9.00000001,12 L7.00000001,12 L7.00000001,10 L5.00000001,10 L5.00000001,12 L3.00000001,12 L3.00000001,14 L5.00000001,14 L5.00000001,16 L7.00000001,16 L7.00000001,14 L9.00000001,14 L9.00000001,12 Z M12,10 L12,20 L-1.06581411e-15,20 L-1.06581411e-15,10 C-1.06581411e-15,7.03000001 2.16000001,4.57000001 5,4.09 L5,2 L3,2 L3,0 L9,0 C10.13,0 11.1500001,0.390000001 11.9900001,1.00999999 L10.56,2.44 C10.1,2.17 9.57,2 9,2 L7,2 L7,4.09 C9.84000001,4.57000001 12,7.03000001 12,10 Z"></path>
          </g>
      <style>.product-text__block-icon .icon--testament-sanitize:hover .hover-fill { fill: ;}</style>
    </svg>
    <span class="ptext">Sanitized for your safety </span>
  </div>
</div>
