{%- assign upsell_handles = '' -%}
{%- for tag in product.tags -%}
  {%- if tag contains 'upsell__' -%}
	{%- assign u_handle = tag | split: '__' | last -%}
	{%- assign upsell_handles = upsell_handles | append: u_handle | append: ',' -%}
  {%- endif -%}
{%- endfor -%}
{%- assign upsell_handles = upsell_handles | split: ',' | uniq -%}

{%- if upsell_handles.size > 0 -%}
  <div class="mm-upsell">    
    <div class="mm-upsell__products">
      {%- for handle in upsell_handles -%}
      	{%- assign upsell_product = all_products[handle] -%}
      	<div class="griditem">
          {% render 'product-page-access', product: upsell_product %}
        </div>
      {%- endfor -%}
    </div>
    
  </div>
{%- endif -%}
