{% if section.settings.show_announcement %}
  <div class="policy-container policy-bar-{{section.id}}">
<div class="policy-contents">
  <div class="text-icon">
    <svg class="icon--testament-returns " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="18px" viewBox="0 0 15 20" xml:space="preserve">
      <g class="hover-fill" fill="">
        <path d="M7.27272727,4.54545455 L7.27272727,7.27272727 L10.9090909,3.63636364 L7.27272727,0 L7.27272727,2.72727273 C3.25454545,2.72727273 0,5.98181818 0,10 C0,11.4272727 0.418181818,12.7545455 1.12727273,13.8727273 L2.45454545,12.5454545 C2.04545455,11.7909091 1.81818182,10.9181818 1.81818182,10 C1.81818182,6.99090909 4.26363636,4.54545455 7.27272727,4.54545455 Z M13.4181818,6.12727273 L12.0909091,7.45454545 C12.4909091,8.21818182 12.7272727,9.08181818 12.7272727,10 C12.7272727,13.0090909 10.2818182,15.4545455 7.27272727,15.4545455 L7.27272727,12.7272727 L3.63636364,16.3636364 L7.27272727,20 L7.27272727,17.2727273 C11.2909091,17.2727273 14.5454545,14.0181818 14.5454545,10 C14.5454545,8.57272727 14.1272727,7.24545455 13.4181818,6.12727273 L13.4181818,6.12727273 Z"></path>
      </g>
      <style>.text__block-icon .icon--testament-returns:hover .hover-fill { fill: ;}</style>
    </svg>
    <span class="policy-text">No hassle returns!</span>
  </div>
  <div class="text-icon">
    <svg class="icon--testament-messages " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="18px" viewBox="0 0 21 21" xml:space="preserve">
      <g class="hover-fill" fill="">
        <path d="M13.75,2.66666667 L13.75,9.66666667 L3.91999999,9.66666667 L3.32999999,10.2566667 L2.74999998,10.8366667 L2.74999998,2.66666667 L13.75,2.66666667 M14.75,0.66666667 L1.74999999,0.66666667 C1.19999999,0.66666667 0.749999987,1.11666667 0.749999987,1.66666667 L0.749999987,15.6666667 L4.74999999,11.6666667 L14.75,11.6666667 C15.3000001,11.6666667 15.75,11.2166666 15.75,10.6666667 L15.75,1.66666667 C15.75,1.11666667 15.3000001,0.66666667 14.75,0.66666667 Z M19.75,4.66666667 L17.75,4.66666667 L17.75,13.6666667 L4.74999999,13.6666667 L4.74999999,15.6666667 C4.74999999,16.2166667 5.19999999,16.6666667 5.74999999,16.6666667 L16.75,16.6666667 L20.75,20.6666667 L20.75,5.66666667 C20.75,5.11666668 20.3,4.66666667 19.75,4.66666667 Z" fill-rule="nonzero"></path>
      </g>
      <style>.text__block-icon .icon--testament-messages:hover .hover-fill { fill: ;}</style>
    </svg>
     <span class="policy-text">We're here to help!</span>
  </div>
  <div class="text-icon">
    <svg class="icon--testament-secure " version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="18px" viewBox="0 0 16 21" xml:space="preserve">
      <g class="hover-fill" fill="">
        <path d="M13.7142856,7.33333334 L12.7619047,7.33333334 L12.7619047,5.42857143 C12.7619047,2.8 10.6285713,0.66666667 7.9999999,0.66666667 C5.37142847,0.66666667 3.23809513,2.8 3.23809513,5.42857143 L3.23809513,7.33333334 L2.28571418,7.33333334 C1.23809513,7.33333334 0.380952273,8.1904762 0.380952273,9.23809524 L0.380952273,18.7619048 C0.380952273,19.8095238 1.23809513,20.6666667 2.28571418,20.6666667 L13.7142856,20.6666667 C14.7619047,20.6666667 15.6190476,19.8095238 15.6190476,18.7619048 L15.6190476,9.23809524 C15.6190476,8.1904762 14.7619047,7.33333334 13.7142856,7.33333334 Z M5.14285704,5.42857143 C5.14285704,3.84761906 6.41904752,2.57142858 7.9999999,2.57142858 C9.58095224,2.57142858 10.8571428,3.84761906 10.8571428,5.42857143 L10.8571428,7.33333334 L5.14285704,7.33333334 L5.14285704,5.42857143 Z M13.7142856,18.7619048 L2.28571418,18.7619048 L2.28571418,9.23809524 L13.7142856,9.23809524 L13.7142856,18.7619048 Z M7.9999999,15.9047619 C9.04761898,15.9047619 9.90476184,15.0476191 9.90476184,14 C9.90476184,12.9523809 9.04761898,12.0952381 7.9999999,12.0952381 C6.95238084,12.0952381 6.09523799,12.9523809 6.09523799,14 C6.09523799,15.0476191 6.95238084,15.9047619 7.9999999,15.9047619 Z" fill-rule="nonzero"></path>
      </g>
      <style>.text__block-icon .icon--testament-secure:hover .hover-fill { fill: ;}</style>
    </svg>
     <span class="policy-text">Secure checkout</span>
  </div>
  
</div>

</div>
    
{% endif %}

{% style %}
        .policy-bar-{{section.id}}{
          background-color:{{section.settings.policy_bg_color}};
        }
.policy-contents{
  display: flex;
    justify-content: space-around;
}
  .policy-container{
    padding:25px;
  }
  
  /*     @media only screen and (min-width: 990px)
      {
        .textt_announce{
          display:inline-block;
        }
      } */
{% endstyle %}

{% schema %}
{
  "name": "policy bar",
  "tag":"section",
  "class":"homepage-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },


    {
      "type":"color",
      "id":"policy_bg_color",
      "label":"Announcement bg color"
    }
  ],
      "presets": [
      {
        "name": "Policies Bar"
      }
    ]
}
{% endschema %}
